<section class="text-gray-600 body-font">
  <app-image-viewer [imageURL]="fileService.images[imageIndex]" [open]="viewerOpen" (close)="viewerOpen = false"></app-image-viewer>
    <div class="container px-5 py-24 mx-auto flex flex-col">
        <div class="flex flex-col text-center w-full mb-20 items-center justify-center">
            <app-service-tab ></app-service-tab>
        </div>
      <div class="lg:w-4/6 mx-auto">
        <div class="rounded-lg h-80 overflow-hidden">
          <app-carousel [slides]="fileService.images" [open]="viewerOpen"  (onSlideChange)="imageIndex = $event" (clickOnImage)="viewerOpen = true"></app-carousel>
        </div>
        <div class="flex mb-4">
            <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 cursor-pointer" (click)="description()"
            [ngClass]="{'text-indigo-500 border-indigo-500': descriptionTab}">Aprašymas</a>
              <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1" (click)="process()"
              [ngClass]="{'text-indigo-500 border-indigo-500': processTab}">Remonto eiga</a>
        </div>
        <div class="mx-auto flex flex-wrap">
          <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
            <div class="leading-relaxed text-lg mb-4" *ngIf="descriptionTab">
                <p class="leading-relaxed mb-4">{{assignedClientRequestDetail.description}}</p>
                <div class="flex border-t border-gray-200 py-2">
                    <span class="text-gray-500">Užsakymo numeris</span>
                    <span class="ml-auto text-gray-900">#{{assignedClientRequestDetail.clientRequestId}}</span>
                  </div>
              <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Miestas</span>
                <span class="ml-auto text-gray-900">{{assignedClientRequestDetail.city}}</span>
              </div>
              <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Adresas</span>
                <span class="ml-auto text-gray-900">{{assignedClientRequestDetail.address}}</span>
              </div>
              <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Užsakymo data</span>
                <span class="ml-auto text-gray-900">{{assignedClientRequestDetail.created}}</span>
              </div>
              <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Trukmė</span>
                <span class="ml-auto text-gray-900">{{assignedClientRequestDetail.duration}}</span>
              </div>
              <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Kaina</span>
                <span class="ml-auto text-gray-900">{{assignedClientRequestDetail.price}}</span>
              </div>
              <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Būsena</span>
                <span class="ml-auto text-gray-900">{{getStatusDescription(assignedClientRequestDetail.status)}}</span>
              </div>
              <div class="leading-relaxed border-t border-gray-200 py-2 ">
                <span class="text-gray-500">Reikalingos paslaugos</span>
                <div *ngFor="let service of repairServices" class="justify-end">
                  <span class=" ml-auto text-gray-900 ">{{service.serviceName}}</span>
                </div>
              </div>
              </div>
              <div *ngIf="processTab">
                <form (ngSubmit)="start()">
                  <button *ngIf="isArrived()" 
                class="flex-shrink-0 bg-indigo-500 hover:bg-indigo-700 border-indigo-500 hover:border-indigo-700 text-sm border-4 text-white  py-2 px-6 rounded" 
                type="submit">
                  Automobilis atvyko į servisą
                </button>
                </form>
    
                <form (ngSubmit)="end()">
                  <button *ngIf="isInProgress()" 
                class="flex-shrink-0 bg-indigo-500 hover:bg-indigo-700 border-indigo-500 hover:border-indigo-700 text-sm border-4 text-white  py-2 px-6 rounded" 
                type="submit">
                  Remontas baigtas
                </button>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
    <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
    <app-toast-alert *ngIf="successMessage" [message]="successMessage" [color]='"bg-green-500"'></app-toast-alert>
  </section>