@model NT_Csharp.ViewModels.NamasEditViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Šalinimas</h2>

<h3>Ar tikrai norite pašalinti šį objektą</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.rekuperacija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rekuperacija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apzeldinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apzeldinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kiemas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kiemas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.namoTipas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namoTipas)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (ViewBag.naudojama != null)
            {
                <h5 style="color:red">@ViewBag.naudojama</h5>
            }
            else
            {
                <input type="submit" value="Šalinti" class="btn btn-danger" />
            }
            @Html.ActionLink("Grįžti atgal", "Index")
        </div>
    }
</div>
