@model IEnumerable<NT_Csharp.Models.Namas>

@{
    ViewBag.Title = "Index";
}

<h2>Namu sąrašas</h2>

<p>
    @Html.ActionLink("Naujas namas", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rekuperacija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apzeldinimas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kiemas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.namoTipas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rekuperacija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apzeldinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kiemas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.namoTipas)
        </td>
        <td>
            @Html.ActionLink("Redaguoti", "Edit", new { id = item.id }, new { @class = "btn btn-primary action" }) |
            @Html.ActionLink("Pašalinti", "Delete", new { id = item.id }, new { @class = "btn btn-danger action" })
        </td>
    </tr>
}

</table>
