<body>
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20 items-center justify-center" *ngIf="isService()">
            <app-service-tab ></app-service-tab>
      </div>
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <!-- <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2> -->
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{clientRequestDetail.title}}</h1>
          <div class="flex mb-4">
            <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 cursor-pointer" (click)="toDescription()"
            [ngClass]="{'text-indigo-500 border-indigo-500': descriptionTab}">Aprašymas</a>
            <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 cursor-pointer" (click)="toPriceOffers()"
            [ngClass]="{'text-indigo-500 border-indigo-500': priceOffersTab}">Remonto kaina</a>
            <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 cursor-pointer" *ngIf="!isService()" (click)="toTransferOffers()"
            [ngClass]="{'text-indigo-500 border-indigo-500': transferOffersTab}">Pervežimo kaina</a>
          </div>
          <div *ngIf="descriptionTab">
            <p class="leading-relaxed mb-4">{{clientRequestDetail.description}}</p>
          <div class="flex border-t border-gray-200 py-2">
            <span class="text-gray-500">Miestas</span>
            <span class="ml-auto text-gray-900">{{clientRequestDetail.city}}</span>
          </div>
          <div class="leading-relaxed border-t border-gray-200 py-2 ">
            <span class="text-gray-500">Reikalingos paslaugos</span>
            <div *ngFor="let service of repairServices" class="justify-end">
              <span class=" ml-auto text-gray-900 ">{{service.serviceName}}</span>
              <!-- <span class="ml-auto text-gray-900">{{service.serviceName}}</span> -->
            </div>
          </div>
          <!-- <div class="flex border-t border-b mb-6 border-gray-200 py-2">
            <span class="text-gray-500">Quantity</span>
            <span class="ml-auto text-gray-900">4</span>
          </div> -->
          <form [formGroup]="offerForm" (ngSubmit)="sendOffer()" *ngIf="isService()">
          <div class="flex items-center border-b border-indigo-500 py-2">
            <input class="appearance-none bg-transparent border-none w-full text-gray-900 mr-3 py-1 px-2 leading-tight focus:outline-none" 
            type="number" placeholder="Pateikite pleliminarią darbų kainą" formControlName="price"/>
            <span class="text-black font-semibold text-lg px-2">€</span>
          </div>
          <div *ngIf="submitted && offerForm.controls['price'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
            <div *ngIf="offerForm.controls['price'].errors['required']">Įrašykite siūlomą kainą</div>
          </div>
          <div class="flex items-center border-b border-indigo-500 py-2">
            <input class="appearance-none bg-transparent border-none w-full text-gray-900 mr-3 py-1 px-2 leading-tight focus:outline-none" 
            type="number" placeholder="Pateikite preliminarią darbų trukmę" formControlName="time"/>
            <span class="text-black font-semibold text-lg px-2">d.d.</span>
          </div>
          <div *ngIf="submitted && offerForm.controls['time'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
            <div *ngIf="offerForm.controls['time'].errors['required']">Įrašykite paslaugų atlikimo trukmę</div>
          </div>
          <div class="flex items-center py-2" *ngIf="serviceDetails.isAccountActivated">
            <button class="flex-shrink-0 bg-indigo-500 hover:bg-indigo-700 border-indigo-500 hover:border-indigo-700 text-sm border-4 text-white  py-2 px-6 rounded" 
            type="submit">
              Pateikti
            </button>
          </div>
          </form>
          <div class="flex items-center py-2" *ngIf="isClient()">
            <button class="flex-shrink-0 bg-indigo-500 hover:bg-indigo-700 border-indigo-500 hover:border-indigo-700 text-sm border-4 text-white  py-2 px-6 rounded" 
            type="button" (click)="startChat()">
              Pradėti pokalbį
            </button>
          </div>
          </div>
          
          <div *ngIf="priceOffersTab">
            <div class=" w-full mx-auto overflow-auto">
              <table class="table-auto w-full text-left whitespace-no-wrap">
                <thead>
                  <tr>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl" *ngFor="let title of priceTitles">{{title}}</th>
                  </tr>
                </thead>
                <tbody *ngFor="let offer of priceOffers; let i=index">
                  <tr class="">
                    <td class="px-4 py-3">{{offer.price}} €</td>
                    <td class="px-4 py-3">{{offer.duration}} d.d.</td>
                    <td class="px-4 py-3 cursor-pointer" *ngIf="offer.status=='Waiting' && isService()">
                      <svg class="animate-spin h-6 w-6 text-blue-600" width="24" height="24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M0 0h24v24H0z" stroke="none"/>
                        <path d="M9 4.55a8 8 0 0 1 6 14.9M15 15v5h5"/>
                        <path d="M11 19.95a8 8 0 0 1-5.3-12.8" stroke-dasharray=".001 4.13"/>
                    </svg>
                    </td>
                    <td class="px-4 py-3 cursor-pointer" *ngIf="offer.status=='Approved' && isService()">
                      <svg class="animate-bounce h-6 w-6 text-green-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/>
                      <path d="M22 4L12 14.01l-3-3"/>
                      </svg>
                    </td>
                    <td class="px-4 py-3 cursor-pointer" *ngIf="offer.status=='Rejected' && isService()">
                      <svg class="h-6 w-6 text-red-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M19.69 14a6.9 6.9 0 0 0 .31-2V5l-8-3-3.16 1.18M4.73 4.73L4 5v7c0 6 8 10 8 10a20.29 20.29 0 0 0 5.62-4.38M1 1l22 22"/>
                        </svg>
                    </td>
                      <td class="px-4 py-3 cursor-pointer" *ngIf="offer.status=='Waiting' && isClient()" >
                        <svg (click)="approveOffer(offer.id)" class="animate-bounce h-6 w-6 text-indigo-500 hover:text-green-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/>
                          <path d="M22 4L12 14.01l-3-3"/>
                          </svg>
                      </td>
                      <td class="px-4 py-3 cursor-pointer" *ngIf="offer.status=='Approved' && isClient()">
                        <svg class="h-6 w-6 text-green-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/>
                          <path d="M22 4L12 14.01l-3-3"/>
                          </svg>
                      </td>
                      <td class="px-4 py-3 cursor-pointer" *ngIf="offer.status=='Rejected' && isClient()">
                        <svg class="h-6 w-6 text-red-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M19.69 14a6.9 6.9 0 0 0 .31-2V5l-8-3-3.16 1.18M4.73 4.73L4 5v7c0 6 8 10 8 10a20.29 20.29 0 0 0 5.62-4.38M1 1l22 22"/>
                          </svg>
                      </td>
                  </tr>
                  
                </tbody>
              </table>
              <!-- <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
              <app-toast-alert *ngIf="successMessage" [message]="successMessage" [color]='"bg-green-500"'></app-toast-alert> -->
              
            </div>
          </div>
          <div *ngIf="transferOffersTab && isClient()">
            <div class=" w-full mx-auto overflow-auto">
              <table class="table-auto w-full text-left whitespace-no-wrap">
                <thead>
                  <tr>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl" *ngFor="let title of transferTitles">{{title}}</th>
                  </tr>
                </thead>
                <tbody *ngFor="let offer of transferOffers; let i=index">
                  <tr class="">
                    <td class="px-4 py-3">{{offer.price}} €</td>
                    <td class="px-4 py-3">{{offer.dateAndTime}}</td>
                      <td class="px-4 py-3 cursor-pointer" *ngIf="offer.status=='Waiting' && isClient()" >
                        <svg (click)="approveTransferOffer(offer.id)" class="animate-bounce h-6 w-6 text-indigo-500 hover:text-green-500" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/>
                          <path d="M22 4L12 14.01l-3-3"/>
                          </svg>
                      </td>
                      <td class="px-4 py-3 cursor-pointer" *ngIf="offer.status=='Approved' && isClient()">
                        <svg class="h-6 w-6 text-green-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/>
                          <path d="M22 4L12 14.01l-3-3"/>
                          </svg>
                      </td>
                      <td class="px-4 py-3 cursor-pointer" *ngIf="offer.status=='Rejected' && isClient()">
                        <svg class="h-6 w-6 text-red-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M19.69 14a6.9 6.9 0 0 0 .31-2V5l-8-3-3.16 1.18M4.73 4.73L4 5v7c0 6 8 10 8 10a20.29 20.29 0 0 0 5.62-4.38M1 1l22 22"/>
                          </svg>
                      </td>
                  </tr>
                  
                </tbody>
              </table>
              <!-- <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
              <app-toast-alert *ngIf="successMessage" [message]="successMessage" [color]='"bg-green-500"'></app-toast-alert> -->
              
            </div>
          </div>
        </div>
        <app-carousel [slides]="fileService.images" [open]="viewerOpen"  (onSlideChange)="imageIndex = $event" (clickOnImage)="viewerOpen = true"></app-carousel>
      </div>
      <app-image-viewer [imageURL]="fileService.images[imageIndex]" [open]="viewerOpen" (close)="viewerOpen = false"></app-image-viewer>

      </div>
    <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
    <app-toast-alert *ngIf="successMessage" [message]="successMessage" [color]='"bg-green-500"'></app-toast-alert>
  </section>
</body>