<div *ngIf="open" class="viewer-container" >
    <div class="viewer-content">
      <a class="close-button cursor-pointer" (click)="close.emit()"  >
        <svg class="h-16 w-16 text-white-500 hover"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
          
      </a>
      <img class="main-img" [src]="imageURL" />
    </div>
  </div>