<app-modal #modalComponent>
    <div class="p-6 pt-0 text-center">
        <svg class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Ar tikrai norite ištrinti šią paskyrą?</h3>
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </div>  
  </app-modal>
  
  <ng-template #toolbar>
    <button data-modal-toggle="popup-modal" type="button" (click)="deleteRecord()"
    class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
        Taip, ištrinti
    </button>
    <button data-modal-toggle="popup-modal" type="button" (click)="close()"
    class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
    Atšaukti
</button>
  </ng-template>