
<div class="relative">
    <select (click)="selected($event)" class=" w-full
    px-3
    py-1.5
    text-base
    font-normal
    text-gray-700
    bg-white bg-clip-padding
    border border-solid border-gray-300
    rounded
    transition
    ease-in-out
    m-0
    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
    name="city" id="city" title="city" ngModel="{{value}}">
        <option hidden value=-1>Miestas</option>
        <option value=0>Kaunas</option>
        <option value=1>Vilnius</option>
        <option value=2>Klaipėda</option>
        <option value=3>Šiauliai</option>
        <option value=4>Panevežys</option>
        <!-- <option *ngFor="let city of cities" [value]="city.id"> 
            {{city.name}}
        </option> -->
    </select>
    </div>