
<body class="bg-white font-family-karla h-screen">
    <div class="w-full flex flex-wrap">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col">

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl">Prisijungti</p>
                <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex flex-col pt-3 md:pt-8">
                    <div class="flex flex-col pt-4">
                        <div class="form-group">
                            <label for="email" class="text-lg">Elektroninis paštas</label>
                            <input type="text" placeholder="" formControlName="email" 
                            class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                            [ngClass]="{ 
                                'border-rose-600': submitted && loginForm.controls['email'].invalid,
                                'border-green-600': loginForm.controls['email'].valid && loginForm.controls['email'].dirty
                            }"/>
                            <div *ngIf="submitted && loginForm.controls['email'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                                <div *ngIf="loginForm.controls['email'].errors['required']">El. paštas yra privalomas</div>
                            </div>
                        </div>
                    </div>
                        <div class="flex flex-col pt-4">
                            <div class="form-group">
                            <label for="password" class="text-lg">Slaptažodis</label>
                            <input type="password" id="password" placeholder=""  formControlName="password" 
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                            [ngClass]="{ 
                                'border-rose-600': submitted && loginForm.controls['password'].invalid,
                                'border-green-600': loginForm.controls['password'].valid && loginForm.controls['password'].dirty
                            }"/>
                            <div *ngIf="submitted && loginForm.controls['password'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                                <div *ngIf="loginForm.controls['password'].errors['required']">Slaptaždis yra privalomas</div>
                                <div *ngIf="loginForm.controls['password'].errors['minlength']">Slaptažodis turi būti ilgesni nei 6 simboliai</div>
                                <div *ngIf="loginForm.controls['password'].errors['maxlength']">Slaptažodis yra per ilgas</div>
                                <div *ngIf="loginForm.controls['password'].errors['pattern']">Slaptažodį turi sudaryti 1 didžioji raidė, 1 skaičius bei vienas specialus simbolis</div>
                            </div>
                            </div>
                        </div>

                    <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
                    <app-toast-alert *ngIf="successMessage" [message]="successMessage" [color]='"bg-green-500"'></app-toast-alert>
                    <div class="form-group">
                        <input type="submit" value="Prisijungti" class="bg-black rounded-t text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 cursor-pointer" >
                    </div>
                </form>
                <!-- <div class="text-center pt-12 pb-12">
                    <p>Don't have an account? <a href="register.html" class="underline font-semibold">Register here.</a></p>
                </div> -->
            </div>
            
        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" src="../../assets/login.jpg">
        </div>
    </div>

</body>