﻿<h3 class="listName">Board list</h3>
<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Board number</th>
                <th scope="col">Deal</th>
                <th scope="col">Dealer</th>
                <th scope="col">Vulnerable</th>
                <th scope="col">Minimax</th>
                <th scope="col">Minimax Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of tournamentService.boards">
                <td>{{t.boardNr}}</td>
                <td>{{t.deal}}</td>
                <td>{{t.dealer}}</td>
                <td>{{t.vulnerable}}</td>
                <td>{{t.minimax}}</td>
                <td>{{t.minimaxScore}}</td>
            </tr>
        </tbody>
    </table>
</div>
