﻿/* .footer-div { */
/*     background-color: skyblue; */
/*     padding: 20px; */
/*     /* margin: 0; !1! */
/*     position: absolute; */
/*     width: 100%; */
/*     bottom: 0; */
/*     height: 60px; */
/* } */
h5 {
    text-align: center;
}
.footer {
    background-color: skyblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
}