﻿<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Bridge Tournaments</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Tournaments <span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/boards" routerLinkActive="active">Boards <span class="sr-only"></span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" (ngSubmit)="onLogOut()">
            <button *ngIf="authService.isLoggedOut()" class="btn btn-outline-success my-2 my-sm-0" type="button" routerLink="/login" routerLinkActive="active">Login</button>
            <button *ngIf="authService.isLoggedIn()"  class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>