﻿<div class="row">
    <table class="table table-hover table-md" *ngIf="tournamentService">
        <thead>
            <tr>
                <th scope="col">Table number</th>
                <th scope="col">Board number</th>
                <th scope="col">Created user</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of tournamentService.tables">
                <td>{{t.tableNr}}</td>
                <td>{{t.boardId}}</td>
                <td>{{t.userId}}</td>
                <td>
                    <button *ngIf="authService.isLoggedIn() && (authService.getRole()!.includes('Director') || authService.getUserId()!.includes(t.userId))" [routerLink]="['/edit', t.id]" routerLinkActive="active" class="btn btn-outline-info btn-sm">Edit</button>
                    <button *ngIf="authService.isLoggedIn() && authService.getRole()!.includes('Director')" (click)="onDelete(t.id)" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button *ngIf="authService.isLoggedIn()" class="btn btn-primary" routerLink="/tableCreate" >Create</button>
</div>

<!-- routerLink="/tournaments/tournamnetId/table" -->