﻿<div class="row">
    <form (submit)="onTournamentUpdate()">
        <div class="form-group">
            <label for="event-date">Edit the date for the event </label><br>
            <input type="date" class="datetimepicker" name="eventDate" data-date-format="yyyy-mm-dd" #eventDate="ngModel" [(ngModel)]="tournamentItem.date" >
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" value="Update">Update</button>
        </div>
    </form>
</div>
