﻿<div class="row">
    <table class="table table-hover table-md" *ngIf="tournamentService">
        <thead>
            <tr>
                <th scope="col">Tournament name</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of tournamentService.tournaments" class="clickable" role="button" [routerLink]="['/tournaments', t.id, 'tables']">
                <td>{{t.name}}</td>
                <td>{{t.date}}</td>
                <td>
                    <button *ngIf="authService.isLoggedIn() && authService.getRole()!.includes('Director')" [routerLink]="['/edit', t.id]" routerLinkActive="active" class="btn btn-outline-info btn-sm">Edit</button>
                    <button *ngIf="authService.isLoggedIn() && authService.getRole()!.includes('Director')" (click)="onDelete(t.id)" class="btn btn-outline-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button *ngIf="authService.isLoggedIn() && authService.getRole()!.includes('Director')" type="button" class="btn btn-primary" routerLink="/tournamentCreate" routerLinkActive="active">Create</button>
</div>
