﻿<div class="row">
    <form (submit)="onTournamentCreate()">
        <div class="form-group">
            <label for="tournamnetName">Tournament name </label>
            <input type="text" class="form-control" name="tournamnetName" #tournamnetName="ngModel" [(ngModel)]="tournamentItem.name" required>
            <div class="text-danger" *ngIf="tournamnetName.touched && tournamnetName.invalid">Required</div>
        </div>
        <div class="form-group">
            <label for="event-date">Set the date for the event </label><br />
            <input type="date" class="datetimepicker" name="eventDate" data-date-format="yyyy-mm-dd" #eventDate="ngModel" [(ngModel)]="tournamentItem.date" >
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger"> {{errorMessage}}</div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" value="Create" [disabled]="tournamnetName.invalid">Create</button>
        </div>
    </form>
</div>
