﻿<app-header></app-header>
<div class="hero">
    <div class="model">
        <div class="container mt-2">
            <div class="row app-container p-2">
                <div class="col-lg-10 offset-md-1">
                    <main [@routeAnimations]="prepareRoute(outlet)" class="content">
                        <router-outlet #outlet="outlet"></router-outlet>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
