<div class="container my-52 px-6 mx-auto">

    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800">
        <div class="container text-gray-800 px-4 md:px-12">
            <div class="block rounded-lg shadow-lg py-10 md:py-12 px-2 md:px-6"
              style="margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px);">
              <div class="flex flex-wrap">
                <div class="grow-0 shrink-0 basis-auto w-full xl:w-5/12 px-3 lg:px-6 mb-12 xl:mb-0">
                  <form [formGroup]="profileForm" (ngSubmit)="update()">
                        <div class="flex flex-col pt-4">
                            <label for="name" class="text-lg">Vardas</label>
                            <input type="text" id="name" formControlName="name" value="" 
                            [(ngModel)]="clientDetails.domainUser.name" 
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" 
                            [ngClass]="{
                                'border-rose-600': profileForm.controls['name'].invalid && profileForm.controls['name'].dirty,
                                'border-green-600': profileForm.controls['name'].valid && profileForm.controls['name'].dirty
                            }" />
                        </div>
    
                        <div class="flex flex-col pt-4">
                            <label for="surname" class="text-lg">Pavardė</label>
                            <input type="text" id="surname" formControlName="surname" value="" 
                            [(ngModel)]="clientDetails.domainUser.surname"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" 
                            [ngClass]="{
                                'border-rose-600': profileForm.controls['surname'].invalid && profileForm.controls['surname'].dirty,
                                'border-green-600': profileForm.controls['surname'].valid && profileForm.controls['surname'].dirty
                            }" />
                        </div>
                        <div class="form-group">
                          <div class="flex flex-col pt-4">
                            <label for="email" class="text-lg">El. paštas</label>
                            <input type="email" id="email" formControlName="email" value="" 
                            [(ngModel)]="clientDetails.email"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                            [ngClass]="{
                                'border-rose-600': profileForm.controls['email'].invalid && profileForm.controls['email'].dirty,
                                'border-green-600': profileForm.controls['email'].valid && profileForm.controls['email'].dirty
                            }" />
                        </div>
                        </div>
                        <div class="flex flex-col pt-4">
                            <label for="phone" class="text-lg">Telefono numeris</label>
                            <input type="phone" id="phone" formControlName="phone" 
                            placeholder="+370" value="" 
                            [(ngModel)]="clientDetails.phoneNumber" 
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                            [ngClass]="{
                                'border-rose-600': profileForm.controls['phone'].invalid && profileForm.controls['phone'].dirty,
                                'border-green-600': profileForm.controls['phone'].valid && profileForm.controls['phone'].dirty
                            }" />
                        </div>
    
                        <div class="flex flex-col pt-4">
                            <label for="password" class="text-lg">Senas slaptažodis</label>
                            <input type="password" id="currentPassword" formControlName="currentPassword" value="" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                        </div>

                        <div class="flex flex-col pt-4">
                            <label for="password" class="text-lg">Naujas slaptažodis</label>
                            <input type="password" id="newPassword" formControlName="newPassword" value="" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                        </div>
                        <div class="flex flex-col pt-4">
                        <button type="submit" class="
                        mb-6
                        w-full
                        px-6
                        py-2.5
                        bg-blue-600
                        text-white
                        font-medium
                        text-xs
                        leading-tight
                        uppercase
                        rounded
                        shadow-md
                        hover:bg-blue-700 hover:shadow-lg
                        focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
                        active:bg-blue-800 active:shadow-lg
                        transition
                        duration-150
                        ease-in-out">Atnaujinti</button>
                    </div>
                        <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
                        <app-toast-alert *ngIf="successMessage" [message]="successMessage" [color]='"bg-green-500"'></app-toast-alert>
                  </form>
                </div>

                <form [formGroup]="fileUploadForm" (ngSubmit)="onFileUpload()">
                <div class="flex justify-center">
                    <div class="form-group">
                        <div class="mb-3 w-96">
                            <div class="flex flex-col pt-4">
                                <label for="file" class="text-lg">Profilio nuotrauka</label>
                          <input formControlName="file"
                          class="form-control
                          block
                          w-full
                          px-3
                          py-1.5
                          text-base
                          font-normal
                          text-gray-700
                          bg-white bg-clip-padding
                          border border-solid border-gray-300
                          rounded
                          transition
                          ease-in-out
                          m-0
                          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="file" id="file" (change)="onFileChange($event)"/>
                          <div class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="showValidation &&  fileUploadForm.controls['file'].errors">Pasirinkite nuotrauką</div>
                          </div>
                            
                            </div>
                    </div>
                      <div class="flex flex-col pt-4">
                        <button type="submit" class="
                        mb-6
                        w-full
                        px-6
                        py-2.5
                        bg-blue-600
                        text-white
                        font-medium
                        text-xs
                        leading-tight
                        uppercase
                        rounded
                        shadow-md
                        hover:bg-blue-700 hover:shadow-lg
                        focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
                        active:bg-blue-800 active:shadow-lg
                        transition
                        duration-150
                        ease-in-out" >Įkelti</button>
                    </div>
                </div>

                  </div>
                  </form>
              </div>
            </div>
        </div>
    </section>
</div>
