<body>
    <div class="container px-6 mx-auto">
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto w-full max-w-4xl ">
          <div class="flex flex-col text-center  items-center">
            <!-- <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Automobilių remonto servisų paskyros</h1> -->
            <app-admin-tab></app-admin-tab>
          </div>
          <div class="justify-center">
          <div class="grid grid-cols-2 gap-6 mt-6 ">
          <a *ngIf="!account.isAccountActivated" class="flex flex-col items-center px-4 py-3 text-gray-700 transition-colors duration-200 transform rounded-md dark:text-gray-200 ">
            <button (click)="activateAccount(account.id)" class=" flex flex-col items-center transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
                <svg class="h-8 w-8 text-green-500 items-center" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <rect x="3" y="11" width="18" height="11" rx="2" ry="2"/>
                    <path d="M7 11V7a5 5 0 0 1 9.9-1"/>
                </svg>
                <span class="font-semibold"><p class="">Patvirtinti</p></span>
                </button>  
          </a>
          <a *ngIf="account.isAccountActivated" class="flex flex-col items-center px-4 py-3 text-gray-700 transition-colors duration-200 transform rounded-md dark:text-gray-200">
            <button (click)="deactivateAccount(account.id)" class="flex flex-col items-center transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300">
                <svg class="h-8 w-8 text-red-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <rect x="3" y="11" width="18" height="11" rx="2" ry="2"/>
                    <path d="M7 11V7a5 5 0 0 1 10 0v4"/>
                </svg>
                <span class="font-semibold"><p class="">Išjungti paskyrą</p></span>
            </button>
          </a>
          <a *ngIf="account.isAccountActivated" class="flex flex-col items-center px-4 py-3 text-gray-700 transition-colors duration-200 transform rounded-md dark:text-gray-200">
            <span>
                <svg class="h-8 w-8 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.83 4.7a3.42 3.42 0 0 0 1.95-.8 3.42 3.42 0 0 1 4.44 0 3.42 3.42 0 0 0 1.95.8 3.42 3.42 0 0 1 3.13 3.13 3.42 3.42 0 0 0 .8 1.95 3.42 3.42 0 0 1 0 4.44 3.42 3.42 0 0 0-.8 1.95 3.42 3.42 0 0 1-3.13 3.13 3.42 3.42 0 0 0-1.95.8 3.42 3.42 0 0 1-4.44 0 3.42 3.42 0 0 0-1.94-.8 3.42 3.42 0 0 1-3.14-3.13 3.42 3.42 0 0 0-.8-1.95 3.42 3.42 0 0 1 0-4.44 3.42 3.42 0 0 0 .8-1.94A3.42 3.42 0 0 1 7.84 4.7z"/>
                    </svg>
            </span>
            <span class="mt-2 font-semibold"><p class="">Patvirtintas</p></span>
        </a>
        <a *ngIf="!account.isAccountActivated" class="flex flex-col items-center px-4 py-3 text-gray-700 transition-colors duration-200 transform rounded-md dark:text-gray-200">
            <span>
                <svg class="h-8 w-8 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2zm10-10V7a4 4 0 0 0-8 0v4h8z"/>
                </svg>
            </span>
            <span class="mt-2 font-semibold"><p class="">Nepatvirtintas</p></span>
        </a>
      </div>
    </div>
    <div class="container mx-auto">
        <div class="items-center -mx-2 md:flex">
            <div class="w-full justify-center mx-2 mt-4 ">
                <label class="block text-lg font-medium text-gray-600 dark:text-gray-200">
                    <p class="">Įmonės teikiamos paslaugos:</p>
                  </label>
            </div>
        </div>
        <div class=" grid grid-cols-2 gap-5 mt-6 sm:grid-cols-3 md:grid-cols-4" >
            <a class="flex flex-col items-center text-sm border-2 border-gray-300 rounded-sm p-2 bg-gray-100" *ngFor="let service of repairServices">
                <span class="mt-2 font-semibold" >{{service.repairServiceCategory.categoryName}}:</span>
                <span class="mt-2" >{{service.serviceName}}</span>
            </a>      
        </div>
    </div>
          <div class="lg:w-3/3 w-full mx-auto overflow-auto py-5">
            <table class="table-auto w-full text-left whitespace-no-wrap">
              <tbody >
                  <tr>
                      <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm  bg-sky-200 rounded-tl rounded-bl">Įmonės pavadinimas</th>
                      <td class="px-4 py-3 bg-gray-100">{{account.domainUser.companyName}}</td>                  
                  </tr>
                    <tr>
                        <td class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-sky-200 rounded-tl rounded-bl">Įmonės kodas</td>
                        <td class="px-4 py-3 bg-gray-100">{{account.domainUser.companyCode}}</td>
                    </tr>
                    <tr>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-sky-200 rounded-tl rounded-bl">Kontaktinio asmens vardas</th>
                        <td class="px-4 py-3 bg-gray-100">{{account.domainUser.name}}</td>                  
                    </tr>
                      <tr>
                          <td class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-sky-200 rounded-tl rounded-bl">Kontaktinio asmens pavarde</td>
                          <td class="px-4 py-3 bg-gray-100">{{account.domainUser.surname}}</td>
                      </tr>
                      <tr>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-sky-200 rounded-tl rounded-bl">Kontaktinio asmens elektroninis laiškas</th>
                        <td class="px-4 py-3 bg-gray-100">{{account.email}}</td>                  
                    </tr>
                      <tr>
                          <td class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-sky-200 rounded-tl rounded-bl">Kontaktinio asmens telefono numeris</td>
                          <td class="px-4 py-3 bg-gray-100">{{account.phoneNumber}}</td>
                      </tr>
                      <tr>
                        <td class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-sky-200 rounded-tl rounded-bl">Įmonės adresas</td>
                        <td class="px-4 py-3 bg-gray-100">{{account.domainUser.address}}</td>
                    </tr>
                    <tr>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-sky-200 rounded-tl rounded-bl">Miestas</th>
                        <td class="px-4 py-3 bg-gray-100">{{getCity(repairServices[0].city)}}</td>                  
                    </tr>               
                      <tr>
                        <td class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-sky-200 rounded-tl rounded-bl">Pateikti dokumentai</td>
                        <td class="px-6 py-3 bg-gray-100">
                            <div *ngFor="let doc of documentsInformation; let i=index"  >
                                <div (click)="downloadDocument(i)" class="flex ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 cursor-pointer transition duration-200 bg-primary">
                                    <svg class="h-5 w-5 text-black" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"/>
                                        </svg> {{doc.name}}
                                </div>
                            </div>
                            
                        </td>
                    </tr>
              </tbody>
            </table>
            <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
            <app-toast-alert *ngIf="successMessage" [message]="successMessage" [color]='"bg-green-500"'></app-toast-alert>
          </div>
        </div>
      </section>
      </div>
     </body>