<body class="bg-white font-family-karla h-screen">

    <div class="w-full flex flex-wrap">

        <!-- Register Section -->
        <div class="w-full md:w-1/2 flex flex-col">

            <!-- <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-12">
                <a href="#" class="bg-black text-white font-bold text-xl p-4" alt="Logo">Logo</a>
            </div> -->

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl">Registracija.</p>
                <div class="mt-6 ">
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="items-center -mx-2 md:flex">
                      <div class="w-full mx-2">
                        <label class="block mb-2 text-sm font-medium">
                          <p class="">Vardas</p>
                        </label>
                        <input formControlName="name"
                        class="block px-4 py-2 text-gray-700 bg-white border rounded-global w-full focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300" 
                        [ngClass]="{
                            'border-rose-600': registerForm.controls['name'].invalid && registerForm.controls['name'].dirty,
                            'border-green-600': registerForm.controls['name'].valid && registerForm.controls['name'].dirty
                        }" />
                        <div *ngIf="submitted && registerForm.controls['name'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="registerForm.controls['name'].errors['required']">Vardas yra privalomas</div>
                        </div>
                        </div>
                        <div class="w-full mx-2">
                            <label class="block mb-2 text-sm font-medium">
                              <p class="">Pavardė</p>
                            </label>
                            <input formControlName="surname"
                            class="block px-4 py-2 text-gray-700 bg-white border rounded-global w-full focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300" 
                            [ngClass]="{
                                'border-rose-600': registerForm.controls['surname'].invalid && registerForm.controls['surname'].dirty,
                                'border-green-600': registerForm.controls['surname'].valid && registerForm.controls['surname'].dirty
                            }"/>
                            <div *ngIf="submitted && registerForm.controls['surname'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                                <div *ngIf="registerForm.controls['surname'].errors['required']">Pavardė yra privaloma</div>
                            </div>
                        </div>
                    </div>
                    <div class="items-center -mx-2 md:flex">
                        <div class="w-full mx-2 mt-4 box-border md:mt-0">
                            <label class="block mb-2 text-sm font-medium">
                            <p class="">Elektroninis paštas</p>
                          </label>
                          <input formControlName="email"
                          class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-global focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300" 
                          [ngClass]="{
                            'border-rose-600': registerForm.controls['email'].invalid && registerForm.controls['email'].dirty,
                            'border-green-600': registerForm.controls['email'].valid && registerForm.controls['email'].dirty
                        }"/>
                        <div *ngIf="submitted && registerForm.controls['email'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="registerForm.controls['email'].errors['required']">Elektroninis paštas yra privalomas</div>
                        </div>
                      </div>
                      <div class="w-full mx-2 mt-4 box-border md:mt-0">
                          <label class="block mb-2 text-sm font-medium">
                          <p class="">Telefono numeris</p>
                        </label>
                        <input formControlName="phone"
                        class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-global focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300"
                        [ngClass]="{
                            'border-rose-600': registerForm.controls['phone'].invalid && registerForm.controls['phone'].dirty,
                            'border-green-600': registerForm.controls['phone'].valid && registerForm.controls['phone'].dirty
                        }"/>
                        <div *ngIf="submitted && registerForm.controls['phone'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="registerForm.controls['phone'].errors['required']">Telefono numeris yra privalomas</div>
                        </div>
                    </div>
                    </div>
                    <div class="items-center -mx-2 md:flex">
                        <div class="w-full mx-2 mt-4 box-border md:mt-0">
                            <label class="block mb-2 text-sm font-medium">
                            <p class="">Miestas</p>
                          </label>
                          <app-dropdown (OnChange)="changeCity($event)" [value]="registerForm.controls['city'].value"></app-dropdown>
                          <div *ngIf="submitted && registerForm.controls['city'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="registerForm.controls['city'].errors['required']">Miestas yra privalomas</div>
                        </div>
                      </div>
                      <div class="w-full mx-2 mt-4 box-border md:mt-0">
                          <label class="block mb-2 text-sm font-medium">
                          <p class="">Minimali kaina</p>
                        </label>
                        <input formControlName="minPrice" type="number"  placeholder="€"
                        class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-global focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300" 
                        [ngClass]="{
                            'border-rose-600': registerForm.controls['minPrice'].invalid && registerForm.controls['minPrice'].dirty,
                            'border-green-600': registerForm.controls['minPrice'].valid && registerForm.controls['minPrice'].dirty
                        }"/>
                        <div *ngIf="submitted && registerForm.controls['minPrice'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="registerForm.controls['minPrice'].errors['required']">Telefono numeris yra privalomas</div>
                        </div>
                      </div>
                    </div>
                    <div class="items-center -mx-2 md:flex">
                        <div class="w-full mx-2 mt-4 box-border md:mt-0">
                            <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200">
                            <p class="">Slaptažodis</p>
                          </label>
                          <input 
                          type="password"
                          formControlName="password"
                          class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-global focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300"
                          [ngClass]="{
                            'border-rose-600': registerForm.controls['password'].invalid && registerForm.controls['password'].dirty,
                            'border-green-600': registerForm.controls['password'].valid && registerForm.controls['password'].dirty
                        }" />
                        <div *ngIf="submitted && registerForm.controls['password'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="registerForm.controls['password'].errors['required']">Slaptaždis yra privalomas</div>
                            <div *ngIf="registerForm.controls['password'].errors['minlength']">Slaptažodis turi būti ilgesni nei 6 simboliai</div>
                            <div *ngIf="registerForm.controls['password'].errors['maxlength']">Slaptažodis yra per ilgas</div>
                            <div *ngIf="registerForm.controls['password'].errors['pattern']">Slaptažodį turi sudaryti 1 didžioji raidė, 1 skaičius bei vienas specialus simbolis</div>
                        </div>
                      </div>
                      <div class="w-full mx-2 mt-4 box-border md:mt-0">
                          <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200">
                          <p class="">Pakartokite slaptažodį</p>
                        </label>
                        <input 
                        type="password"
                        formControlName="confirmPassword"
                        class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-global focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300" 
                        [ngClass]="{
                            'border-rose-600': registerForm.controls['confirmPassword'].invalid && registerForm.controls['confirmPassword'].dirty,
                            'border-green-600': registerForm.controls['confirmPassword'].valid && registerForm.controls['confirmPassword'].dirty
                        }"/>
                        <div *ngIf="submitted && registerForm.controls['confirmPassword'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="registerForm.controls['confirmPassword'].errors['required']">Pakartokite slaptažodį</div>
                            <div *ngIf="registerForm.controls['confirmPassword'].errors['mustMatch']">Slaptažodžiai nesutampa</div>
                        </div>
                      </div>
                    </div>
                    <div class="items-center -mx-2 md:flex">
                        <div class="w-full mx-2 mt-4 box-border md:mt-0">
                            <label class="block mb-2 text-sm font-medium">
                            <p class="">Įmonės pavadinimas</p>
                          </label>
                          <input formControlName="companyName"
                          class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-global focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300" 
                          [ngClass]="{
                            'border-rose-600': registerForm.controls['companyName'].invalid && registerForm.controls['companyName'].dirty,
                            'border-green-600': registerForm.controls['companyName'].valid && registerForm.controls['companyName'].dirty
                        }"/>
                        <div *ngIf="submitted && registerForm.controls['companyName'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="registerForm.controls['companyName'].errors['required']">Įmonės pavadinimas yra privalomas</div>
                        </div>
                      </div>
                      <div class="w-full mx-2 mt-4 box-border md:mt-0">
                          <label class="block mb-2 text-sm font-medium">
                          <p class="">Įmonės kodas</p>
                        </label>
                        <input formControlName="companyCode"
                        class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-global focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300"
                        [ngClass]="{
                            'border-rose-600': registerForm.controls['companyCode'].invalid && registerForm.controls['companyCode'].dirty,
                            'border-green-600': registerForm.controls['companyCode'].valid && registerForm.controls['companyCode'].dirty
                        }"/>
                        <div *ngIf="submitted && registerForm.controls['companyCode'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="registerForm.controls['companyCode'].errors['required']">Įmonės kodas yra privaloma</div>
                        </div>
                    </div>
                    </div>
                    <div class="flex justify-center mt-6">
                        <button type="submit"
                        class="ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 px-4 py-2 bg-black text-white transition duration-200 transform rounded-global rounded
                        shadow-md focus:outline-none focus:bg-gray-600 bg-primary text-lg">
                        <p class="">Registruotis</p>
                      </button>
                    </div>
                    </form>
                </div>
            </div>
            <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl rounded">
            <img class="object-cover w-full h-screen hidden md:block" src="../../assets/trawl.jpg" alt="Background" />
        </div>
    </div>

</body>
