<body>
    
    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20 items-center justify-center" *ngIf="isTrawl()">
                <app-trawl-tab ></app-trawl-tab>
          </div>
          <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
              <!-- <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2> -->
              <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">#{{clientRequestDetail.clientRequestId}}</h1>
              <div class="flex mb-4">
                <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1" (click)="description()"
                [ngClass]="{'text-indigo-500 border-indigo-500': descriptionTab}">Aprašymas</a>
              </div>
              <div *ngIf="descriptionTab">
                <p class="leading-relaxed mb-4">{{clientRequestDetail.description}}</p>
              <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Miestas</span>
                <span class="ml-auto text-gray-900">{{clientRequestDetail.city}}</span>
              </div>
              <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Automobilio paėmimo adresas</span>
                <span class="ml-auto text-gray-900">{{clientRequestDetail.address}}</span>
              </div>
              <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Automobilio pristatymo adresas</span>
                <span class="ml-auto text-gray-900">{{clientRequestDetail.serviceAddress}}</span>
              </div>
              <form [formGroup]="offerForm" (ngSubmit)="sendOffer()" *ngIf="isTrawl() && isRequestSent()">
              <div class="flex items-center border-b border-indigo-500 py-2">
                <input class="appearance-none bg-transparent border-none w-full text-gray-900 mr-3 py-1 px-2 leading-tight focus:outline-none" 
                type="number" placeholder="Pateikite siūlomą transportavimo kainą" formControlName="price"/>
                <span class="text-black font-semibold text-lg px-2">€</span>
              </div>
              <div *ngIf="submitted && offerForm.controls['price'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                <div *ngIf="offerForm.controls['price'].errors['required']">Įrašykite siūlomą kainą</div>
              </div>
              <label class="text-gray-500 py-2">Nurodykite tikslų laiką, kada greičiausiai galėtumėte atvykti</label>
              <div class="flex items-center w-full py-2">
                <div class="inline-flex ">
                    <div class="block">
                        <input placeholder="" type="date"  name="eventDate"  data-date-format="yyyy-mm-dd" formControlName="arrivalDate"
                        class="bg-white border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >    
                    </div>
                    <div class="block">
                        <input class="bg-white border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        type="time" formControlName="arrivalTime">
                    </div>
                    
                </div>
              </div>
              <div *ngIf="submitted && offerForm.controls['arrivalDate'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                <div *ngIf="offerForm.controls['arrivalDate'].errors['required']">Pasirinkite datą</div>
              </div>
              <div *ngIf="submitted && offerForm.controls['arrivalTime'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                <div *ngIf="offerForm.controls['arrivalTime'].errors['required']">Pasirinkite laiką</div>
              </div>
              <div class="flex items-center py-2" *ngIf="trawlDetails.isAccountActivated">
                <button class="flex-shrink-0 bg-indigo-500 hover:bg-indigo-700 border-indigo-500 hover:border-indigo-700 text-sm border-4 text-white  py-2 px-6 rounded" 
                type="submit">
                  Pateikti
                </button>
              </div>
              </form>
              <table class="table-auto w-full text-left whitespace-no-wrap" *ngIf="transferOffer">
                <thead>
                  <tr>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl" *ngFor="let title of titles">{{title}}</th>
                  </tr>
                </thead>
                <tbody >
                  <tr class="">
                    <td class="px-4 py-3">{{transferOffer.price}} €</td>
                    <td class="px-4 py-3">{{transferOffer.dateAndTime}}</td>
                    <td class="px-4 py-3 cursor-pointer" *ngIf="transferOffer.status=='Waiting' && isTrawl()">
                      <svg class="animate-spin h-6 w-6 text-blue-600" width="24" height="24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M0 0h24v24H0z" stroke="none"/>
                        <path d="M9 4.55a8 8 0 0 1 6 14.9M15 15v5h5"/>
                        <path d="M11 19.95a8 8 0 0 1-5.3-12.8" stroke-dasharray=".001 4.13"/>
                    </svg>
                    </td>
                    <td class="px-4 py-3 cursor-pointer" *ngIf="transferOffer.status=='Approved' && isTrawl()">
                      <svg class="animate-bounce h-6 w-6 text-green-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/>
                      <path d="M22 4L12 14.01l-3-3"/>
                      </svg>
                    </td>
                    <td class="px-4 py-3 cursor-pointer" *ngIf="transferOffer.status=='Rejected' && isTrawl()">
                      <svg class="h-6 w-6 text-red-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M19.69 14a6.9 6.9 0 0 0 .31-2V5l-8-3-3.16 1.18M4.73 4.73L4 5v7c0 6 8 10 8 10a20.29 20.29 0 0 0 5.62-4.38M1 1l22 22"/>
                        </svg>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              </div>
              <div *ngIf="offersTab">
                <div class=" w-full mx-auto overflow-auto">
                  
                  <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
                  <app-toast-alert *ngIf="successMessage" [message]="successMessage" [color]='"bg-green-500"'></app-toast-alert>
                  
                </div>
              </div>
            </div>
          <app-carousel [slides]="fileService.images" [open]="viewerOpen"  (onSlideChange)="imageIndex = $event" (clickOnImage)="viewerOpen = true"></app-carousel>
          </div>
          <app-image-viewer [imageURL]="fileService.images[imageIndex]" [open]="viewerOpen" (close)="viewerOpen = false"></app-image-viewer>
        </div>
        <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
        <app-toast-alert *ngIf="successMessage" [message]="successMessage" [color]='"bg-green-500"'></app-toast-alert>
      </section>
    </body>