<div class="carousel relative overflow-hidden lg:w-1/2 w-full lg:h-auto h-64 mx-auto" >
    <ng-container *ngFor="let slide of slides; let i = index" class="block h-full w-full">
      <img (click)="clickOnImage.emit()"
      *ngIf="i === currentSlide " 
      [src]="slide" class="slide object-fill h-full w-full cursor-pointer" 
      @carouselAnimation/>
    </ng-container>
  
    <!-- controls -->
    <button class="control prev" (click)="onPreviousClick()" *ngIf="slides.length > 1">
      <span class="arrow left"></span>
    </button>
    <button class="control next " (click)="onNextClick()" *ngIf="slides.length > 1">
      <span class="arrow right"></span>
    </button>
  </div>
