<body>
    <div class="container px-6 mx-auto">
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20 items-center justify-center">
            <!-- <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">{{frontTitle}}</h1> -->
            <app-service-tab [tab]="tabName"></app-service-tab>
          </div>
          <div class="lg:w-2/3 w-full mx-auto overflow-auto">
            <table class="table-auto w-full text-left whitespace-no-wrap">
              <thead>
                <tr>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl" *ngFor="let title of titles">{{title}}</th>
                </tr>
              </thead>
              <tbody *ngFor="let request of repairRequestList; let i=index">
                <tr class="hover:bg-sky-100 hover:text-black cursor-pointer" (click)="openItem(i)">
                  <td class="px-4 py-3">#{{request.clientRequestId}}</td>
                  <td class="px-4 py-3">{{request.city}}</td>
                  <td class="px-4 py-3">{{request.created}}</td>
                  <td class="px-4 py-3">{{getStatusDescription(request.status)}}</td>
                </tr>
                
              </tbody>
            </table>
            
          </div>
        </div>
      </section>
      <app-toast-alert *ngIf="successMessage" [message]="successMessage" [color]='"bg-green-500"'></app-toast-alert>
      </div>
     </body>
