<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head> -->
<body class="bg-gray-100 dark:bg-gray-800">
    <div class="flex flex-1 overflow-hidden h-screen max-w-screen-2xl m-auto">
        <div class="p-12 lg:p-20 w-full">
            <div class="max-h-full h-full flex flex-row">
                <!--Left SIDEBAR START-->
                <aside class="w-full lg:w-2/6 bg-white dark:bg-gray-900 rounded-lg mr-5">
                    <div class="max-w-full h-full w-full flex flex-col">
                        <div class="flex p-10 justify-between">
                            <div class="text-4xl font-semibold dark:text-white text-gray-900">Chat</div>
                            <!-- SWITCHER START -->
                            <!-- <div>
                                <button
                                id="theme-toggle"
                                type="button"
                                class="text-gray-500 text-sm p-2.5">
                                <svg
                                id="theme-toggle-dark-icon"
                                class="w-5 h-5 hidden"
                                fill="currentColor"
                                viewBox="0 0 20 20"></svg>
                            </button>
                            </div> -->
                            <!-- SWITCHER end REMOVE -->
                        </div>
                        <!-- USER SECTION STARTS -->
                        <div
                        class="
                        flex-auto
                        overflow-y-scroll
                        scrollbar-width
                        scrollbar-thumb-color">
                    <div class="w-full space-y-10">
                        <!-- USER -->
                        <div *ngFor="let conversation of conversationsGroups; let i=index">
                            <div class="cursor-pointer flex px-10" (click)="loadConversation(i)">
                                <div class="mr-4 relative w-12">
                                    <img class="rounded-full w-full mr-2" src="../../assets/avatar.jpg" alt="">
                                    <div class="
                                    w-3
                                    h-3
                                    bg-green-500
                                    rounded-full
                                    absolute
                                    bottom-0
                                    right-0"></div>
                                </div>
                                <div class="flex flex-col flex-1">
                                    <div class="flex justify-between items-center">
                                        <div class="
                                        text-gray-800 text-base
                                        font-semibold">{{conversation.conversationTitle}}</div>
                                        <!-- <div class="text-gray-700 text-xs">
                                            00:00
                                        </div> -->
                                    </div>
                                    <div class="text-gray-400 text-sm">Last Message text</div>
                                </div>
                            </div>
                        </div>
                        <!-- END USER -->
                    </div>
                    </div>
                    </div>
                </aside>
                <!--Left SIDEBAR End-->
                <!-- RIGHT SECTION START -->
                <section 
                class="
                relative
                max-h-full
                h-full
                bg-white
                rounded-lg
                w-full
                flex-col
                lg:flex
                hidden">
                <!-- ALL MESSAGES START -->
                <div
                id="allmessages"
                class="flex-1
                overflow-y-scroll
                p-5
                scrollbar-thumb-color
                scrollbar-width
                space-y-5">
            <!-- RECEIVED MESSAGE START -->
            <div *ngFor="let message of messages">
                <div class="flex justify-start" *ngIf="!isCurrentUser(message.sendBy)">
                    <div class="w-14 mr-5">
                    <img class="rounded-full w-full mr-2" src="../../assets/avatar.jpg"/>
                    </div>
                    <div class="flex flex-col space-y-5 text-left">
                        <div>
                            <span class="bg-gray-200 text-gray-900 p-5 text-base rounded-r-lg rounded-b-lg inline flex max-w-xl ">
                                <b>{{ message.sendBy }}</b>: {{ message.message }}</span>
                        </div>
                    </div>
                </div>            
            <!-- RECEIVED MESSAGE END -->
            <!-- SENDER MESSAGE START -->
            <div class="flex justify-end" *ngIf="isCurrentUser(message.sendBy)" >
                <div class="space-y-5 text-right">
                    <div class="
                    bg-gray-800
                    text-white
                    p-5
                    text-base
                    rounded-l-lg rounded-b-lg
                    inline-block
                    max-w-xl">{{ message.message }}</div>
                </div>
            </div>
        </div>
            <!-- SENDER MESSAGE END -->
            </div>
                <!-- ALL MESSAGES END -->

                <div class="flex-none p-5">
                    <div>
                        <div class="relative flex">
                            <span class="absolute inset-y-0 flex-item-center">
                                <button type="button" class="
                                inline-flex
                                items-center 
                                justify-center 
                                rounded-full 
                                h-12 
                                w-12
                                transition
                                duration-500 
                                ease-in-out 
                                text-gray-500 
                                hover:bg-gray-300 
                                focus:outline-none"></button>
                                <!-- Some SWG for emocies here -->
                            </span>

                            <input type="text" 
                            id="message" 
                            [(ngModel)]="messageText"
                            placeholder="Type here..." 
                            class="w-full
                            focus:outline-none
                            focus:placeholder-gray-400
                            text-gray-600
                            placeholder-gray-400
                            pl-12
                            bg-gray-100
                            rounded-full
                            py-3
                            pr-5"/>
                            <div class="ml-5">
                                <button
                                (click)="sendMessage(messageText)"
                                class="
                                inline-flex
                                items-center
                                justify-center
                                rounded-full
                                h-12
                                w-12
                                transition
                                duration-500
                                ease-in-out
                                text-white
                                bg-gray-800
                                hover:bg-gray-600
                                focus:outline-none">
                                <svg class="h-6 w-6 text-white transform rotate-45"  viewBox="0 0 25 25"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <line x1="22" y1="2" x2="11" y2="13" />  <polygon points="22 2 15 22 11 13 2 9 22 2" /></svg>
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
                <!-- RIGHT SECTION END -->
            </div>
        </div>
    </div>
</body>
</html>