.scrollbar-width::-webkit-scrollbar{
    width: 0.25rem;
    height: 0.25rem;
}
.scrollbar-thumb-color::-webkit-scrollbar-thumb{
    --bg-opacity:1;
    background-color: #edf2f7;
    background-color: rgba(237, 242, 247, var(--bg-opacity));
    border-radius: 0.25rem;
}