@model NT_Csharp.Models.NTAgentura

@{
    ViewBag.Title = "Delete";
}

<h2>Šalinimas</h2>

<h3>Ar tikrai norite pašalinti šį objektą</h3>
<div>
    <h4>NT Agentura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pavadinimas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pavadinimas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imonesKodas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imonesKodas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.elPastas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.elPastas)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @if (ViewBag.naudojama != null)
        {
            <h5 style="color:red">@ViewBag.naudojama</h5>
        }
        else
        {
            <input type="submit" value="Šalinti" class="btn btn-danger" />
        }|
        @Html.ActionLink("Grįžti atgal", "Index", new { @class = "btn btn-default" })
    </div>
    }
</div>
