@model IEnumerable<NT_Csharp.Models.NTAgentura>

@{
    ViewBag.Title = "Index";
}

<h2>NT agentūros</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pavadinimas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imonesKodas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.elPastas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pavadinimas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imonesKodas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.elPastas)
        </td>
        <td>
            @Html.ActionLink("Redaguoti", "Edit", new { id = item.imonesKodas }, new { @class = "btn btn-primary action" }) |
            @Html.ActionLink("Šalinti", "Delete", new { id = item.imonesKodas }, new { @class = "btn btn-danger action" })
        </td>
    </tr>
}

</table>
