<body class="bg-white font-family-karla">

    <div class=" bg-no-repeat bg-cover flex flex-wrap" style="background-image: url('../../assets/service_background.jpg');">
    <!-- class="w-full h-full bg-no-repeat bg-cover bg-fixed flex flex-wrap"
    style="background-image: url('../../assets/service_background.jpg');" -->
        <div class="justify-center pt-20 container mx-auto">
        <p class="text-center text-3xl">Registracija</p>
        </div>

        <!-- Left Section -->
        <div class="w-full items-center flex flex-col">

            <!-- <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-12">
                <a href="#" class="bg-black text-white font-bold text-xl p-4" alt="Logo">Logo</a>
            </div> -->
            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <div class=" pt-3 md:pt-8">
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div class="flex flex-col pt-4">
                            <label for="name" class="text-lg">Kontaktinio asmens vardas</label>
                            <input type="text" id="name" formControlName="name" 
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                            [ngClass]="{
                                'border-rose-600': submitted && registerForm.controls['name'].invalid,
                                'border-green-600': registerForm.controls['name'].valid && registerForm.controls['name'].dirty
                            }" />
                            <div *ngIf="submitted && registerForm.controls['name'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                                <div *ngIf="registerForm.controls['name'].errors['required']">Vardas yra privalomas</div>
                            </div>
                        </div>
                    
                        <div class="flex flex-col pt-4">
                            <label for="surname" class="text-lg">Kontaktinio asmens pavardė</label>
                            <input type="text" id="surname" formControlName="surname" 
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                            [ngClass]="{
                                'border-rose-600': submitted && registerForm.controls['surname'].invalid,
                                'border-green-600': registerForm.controls['surname'].valid && registerForm.controls['surname'].dirty
                            }" />
                            <div *ngIf="submitted && registerForm.controls['surname'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                                <div *ngIf="registerForm.controls['surname'].errors['required']">Pavardė yra privaloma</div>
                            </div>
                        </div>
    
                        <div class="flex flex-col pt-4">
                            <label for="email" class="text-lg">Kontaktinio asmens elektroninis paštas</label>
                            <input type="email" id="email" formControlName="email" 
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                            [ngClass]="{ 
                                'border-rose-600': submitted && registerForm.controls['email'].invalid,
                                'border-green-600': registerForm.controls['email'].valid && registerForm.controls['email'].dirty
                            }"/>
                            <div *ngIf="submitted && registerForm.controls['email'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                                <div *ngIf="registerForm.controls['email'].errors['required']">Elektroninis paštas yra privalomas</div>
                            </div>
                        </div>
    
                        <div class="flex flex-col pt-4">
                            <label for="phone" class="text-lg">Kontaktinio asmens telefono numeris</label>
                            <input type="phone" id="phone" formControlName="phone" placeholder="+370" 
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                            [ngClass]="{
                                'border-rose-600': submitted && registerForm.controls['phone'].invalid,
                                'border-green-600': registerForm.controls['phone'].valid && registerForm.controls['phone'].dirty
                            }" />
                            <div *ngIf="submitted && registerForm.controls['phone'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                                <div *ngIf="registerForm.controls['phone'].errors['required']">Telefono numeris yra privalomas</div>
                            </div>
                        </div>
    
                        <div class="flex flex-col pt-4">
                            <label for="password" class="text-lg">Slaptažodis</label>
                            <input type="password" id="password" formControlName="password" 
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                            [ngClass]="{ 
                                'border-rose-600': submitted && registerForm.controls['password'].invalid,
                                'border-green-600': registerForm.controls['password'].valid && registerForm.controls['password'].dirty
                            }"/>
                            <div *ngIf="submitted && registerForm.controls['password'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                                <div *ngIf="registerForm.controls['password'].errors['required']">Slaptaždis yra privalomas</div>
                                <div *ngIf="registerForm.controls['password'].errors['minlength']">Slaptažodis turi būti ilgesni nei 6 simboliai</div>
                                <div *ngIf="registerForm.controls['password'].errors['maxlength']">Slaptažodis yra per ilgas</div>
                                <div *ngIf="registerForm.controls['password'].errors['pattern']">Slaptažodį turi sudaryti 1 didžioji raidė, 1 skaičius bei vienas specialus simbolis</div>
                            </div>
                        </div>
    
                        <div class="flex flex-col pt-4">
                            <label for="confirm-password" class="text-lg">Patvirtinti slaptažodį</label>
                            <input type="password" id="confirm-password" formControlName="confirmPassword" 
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" 
                            [ngClass]="{ 
                                'border-rose-600': submitted && registerForm.controls['confirmPassword'].invalid,
                                'border-green-600': registerForm.controls['confirmPassword'].valid && registerForm.controls['confirmPassword'].dirty
                            }"/>
                            <div *ngIf="submitted && registerForm.controls['confirmPassword'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                                <div *ngIf="registerForm.controls['confirmPassword'].errors['required']">Pakartokite slaptažodį</div>
                                <div *ngIf="registerForm.controls['confirmPassword'].errors['mustMatch']">Slaptažodžiai nesutampa</div>
                            </div>
                        </div>

                        <div class="justify-center px-10 container mx-auto">
                            <p class="text-center text-3xl">Įmonės duomenys</p>
                        </div>

                        <div class="flex flex-col pt-4">
                            <label for="companyName" class="text-lg">Įmonės pavadinimas</label>
                            <input type="text" id="companyName" formControlName="companyName" 
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                            [ngClass]="{
                                'border-rose-600': submitted && registerForm.controls['companyName'].invalid,
                                'border-green-600': registerForm.controls['companyName'].valid && registerForm.controls['companyName'].dirty
                            }" />
                            <div *ngIf="submitted && registerForm.controls['companyName'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                                <div *ngIf="registerForm.controls['companyName'].errors['required']">Įmonės pavadinimas yra privalomas</div>
                            </div>
                        </div>
                            <div class="flex flex-col pt-4">
                                <label for="companyCode" class="text-lg">Įmonės kodas</label>
                                <input type="text" id="companyCode" formControlName="companyCode" 
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                                [ngClass]="{
                                    'border-rose-600': submitted && registerForm.controls['companyCode'].invalid,
                                    'border-green-600': registerForm.controls['companyCode'].valid && registerForm.controls['companyCode'].dirty
                                }" />
                                <div *ngIf="submitted && registerForm.controls['companyCode'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                                    <div *ngIf="registerForm.controls['companyCode'].errors['required']">Įmonės kodas yra privaloma</div>
                                </div>
                            </div>
                            <div class="flex flex-col pt-4">
                                <label for="city" class="text-lg">Miestas</label>
                                <app-dropdown (OnChange)="changeCity($event)"></app-dropdown>
                            </div>
                            <div class="flex flex-col pt-4">
                                <label for="address" class="text-lg">Adresas</label>
                                <input type="text" id="address" formControlName="address" 
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                                [ngClass]="{
                                    'border-rose-600': submitted && registerForm.controls['address'].invalid,
                                    'border-green-600': registerForm.controls['address'].valid && registerForm.controls['address'].dirty
                                }" />
                                <div *ngIf="submitted && registerForm.controls['address'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                                    <div *ngIf="registerForm.controls['address'].errors['required']">Adresas yra privaloma</div>
                                </div>
                            </div>
                            <div class="flex flex-col pt-4" >
                                <label for="services" class="text-lg">Teikiamos paslaugos</label>
                                <div class="flex justify-start" *ngFor="let service of repairServices; let i=index">
                                    <div class="form-check form-check-inline" >
                                      <input class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-black checked:border-black focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                       type="checkbox" id="{{i}}" value="{{repairServices[i].serviceName}}"
                                        (change)="onChange(service, $event.target)">
                                      <label class="form-check-label inline-block text-gray-800">{{repairServices[i].serviceName}}</label>
                                    </div>        
                                  </div>
                              </div>
                        <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
                    <input type="submit" value="Registruotis" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 cursor-pointer rounded-t" />
                </form>
                </div>
            </div>
        </div>
    </div>

</body>
