<body>
    <div class="container px-6 mx-auto">
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20 items-center">
            <!-- <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Automobilių remonto servisų paskyros</h1> -->
            <app-admin-tab [tab]="tabName"></app-admin-tab>
          </div>
          <div class="lg:w-2/3 w-full mx-auto overflow-auto">
            <table class="table-auto w-full text-left whitespace-no-wrap">
              <thead>
                <tr>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Įmonės pavadinimas</th>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Elektroninis paštas</th>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Telefono numeris</th>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Miestas</th>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Minimali kaina</th>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Būsena</th>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"></th>
                </tr>
              </thead>
              <tbody *ngFor="let account of trawlAccounts; let i=index">
                <tr class="hover:bg-sky-100 cursor-pointer" *ngIf="account">
                  <td class="px-4 py-3" (click)="openItem(i)">{{account.domainUser.companyName}}</td>
                  <td class="px-4 py-3"(click)="openItem(i)">{{account.email}}</td>
                  <td class="px-4 py-3"(click)="openItem(i)">{{account.phoneNumber}}</td>
                  <td class="px-4 py-3"(click)="openItem(i)">{{getCity(account.domainUser.city)}}</td>
                  <td class="px-4 py-3"(click)="openItem(i)">{{account.domainUser.minimalPrice}}€</td>
                  <td *ngIf="account.isAccountActivated" class="px-4 py-3 text-lg  text-center">
                      <button (click)="deactivateAccount(i,account.id)" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
                    <svg class="h-8 w-8 text-green-500 " viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <rect x="3" y="11" width="18" height="11" rx="2" ry="2"/>
                        <path d="M7 11V7a5 5 0 0 1 9.9-1"/>
                    </svg>
                    </button>
                  </td>
                  <td *ngIf="!account.isAccountActivated" class="px-4 py-3 text-lg text-gray-900 text-center">
                      <button (click)="activateAccount(i,account.id)" class="transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300">
                    <svg class="h-8 w-8 text-red-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <rect x="3" y="11" width="18" height="11" rx="2" ry="2"/>
                        <path d="M7 11V7a5 5 0 0 1 10 0v4"/>
                    </svg>
                </button>
                  </td>
                  <td *ngIf="account">
                      <button (click)="deleteTrawl(i, account.id)" class="transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 duration-300" type="button" data-modal-toggle="popup-modal">
                        <svg class="h-8 w-8 text-red-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M3 6h18M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2M10 11v6M14 11v6"/>
                            </svg>
                            
                      </button>
                      
                  </td>
                </tr>
                
              </tbody>
            </table>
            <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
            <app-toast-alert *ngIf="successMessage" [message]="successMessage" [color]='"bg-green-500"'></app-toast-alert>
            
          </div>
        </div>
      </section>
      </div>
     </body>