<body>
    <div class="container px-6 mx-auto">
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20 items-center justify-center">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">{{frontTitle}}</h1>
            <app-service-tab></app-service-tab>
            <!-- <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Banh mi cornhole echo park skateboard authentic crucifix neutra tilde lyft biodiesel artisan direct trade mumblecore 3 wolf moon twee</p> -->
          </div>
          <div class="lg:w-2/3 w-full mx-auto overflow-auto">
            <table class="table-auto w-full text-left whitespace-no-wrap">
              <thead>
                <tr>
                  <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl" *ngFor="let title of titles">{{title}}</th>
                </tr>
              </thead>
              <tbody *ngFor="let request of repairRequestList; let i=index">
                <tr class="hover:bg-sky-100 hover:text-black cursor-pointer" (click)="openItem(i)">
                  <td class="px-4 py-3">#{{request.clientRequestId}}</td>
                  <td class="px-4 py-3">{{request.city}}</td>
                  <td class="px-4 py-3">{{request.created}}</td>
                  <td class="px-4 py-3">{{getStatusDescription(request.status)}}</td>
                </tr>
                
              </tbody>
            </table>
            <!-- <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
            <app-toast-alert *ngIf="successMessage" [message]="successMessage" [color]='"bg-green-500"'></app-toast-alert> -->
            
          </div>
          <!-- <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
            <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
          </div> -->
        </div>
      </section>
      </div>
     </body>