<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">
  
        <!--Nav-->
        <nav id="header" class="fixed w-full z-30 top-0 py-1" >
            <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
    
                <label for="menu-toggle" class="cursor-pointer md:hidden block">
                    <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <title>menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                    </svg>
                </label>
                <input class="hidden" type="checkbox" id="menu-toggle" />
    
                <div class="hidden md:flex md:object-left-top md:w-auto w-full " id="menu">
                    
                    <nav>
                        <ul class="md:flex object-left-top justify-between text-base text-gray-700 pt-4 md:pt-0">
                            <img *ngIf="isLogin() && profileImage" class="w-10 h-10 rounded-full" [src]='profileImage' alt="avatar" >
                            <li *ngIf="isLogin() && (isClient() || isAdmin())" ><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" routerLink="{{profileUrl}}" routerLinkActive="active">{{user}}</a></li>
                            <li *ngIf="isLogin() && isService()" ><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" routerLink="{{companyServiceProfileUrl}}" routerLinkActive="active">{{user}}</a></li>
                            <li *ngIf="isLogin() && isTrawl()" ><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" routerLink="{{companyTrawlProfileUrl}}" routerLinkActive="active">{{user}}</a></li>
                            <li *ngIf="isLogin() && isAdmin()"><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" routerLink="{{accounts}}">Paskyros</a></li>
                            <li *ngIf="isLogin() && isClient()"><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" routerLink="{{placeRepairRequest}}">Užsakyti</a></li>
                            <li *ngIf="isLogin() && isClient()"><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" routerLink="{{allClientRepairRequest}}">Mano Užklausos</a></li>
                            <li *ngIf="isLogin() && isService()"><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" routerLink="{{allServiceRepairRequest}}">Užsakymai</a></li>
                            <li *ngIf="isLogin() && isTrawl()"><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" routerLink="{{allTrawlRequest}}">Pervežimo užsakymai</a></li>
                            <li *ngIf="isLogin() && (isClient() || isAdmin())"><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4" routerLink="{{chatUrl}}">Pokalbiai</a></li>
                        </ul>
                    </nav>
                </div>
    
                <div class="object-center flex">
                  <a id="title" class="flex object-top tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-6xl " routerLink="{{homeUrl}}" routerLinkActive="active">
                      <!-- <svg class="fill-current text-gray-800 mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <path d="M5,22h14c1.103,0,2-0.897,2-2V9c0-0.553-0.447-1-1-1h-3V7c0-2.757-2.243-5-5-5S7,4.243,7,7v1H4C3.447,8,3,8.447,3,9v11 C3,21.103,3.897,22,5,22z M9,7c0-1.654,1.346-3,3-3s3,1.346,3,3v1H9V7z M5,10h2v2h2v-2h6v2h2v-2h2l0.002,10H5V10z" />
                      </svg>  -->
                      repi
                  </a>
              </div>
    
                <!-- <div class="hidden md:flex md:items-center md:w-auto w-full" id=""> -->
                    <!-- <a class="inline-block no-underline hover:text-black" [routerLink]="">
                        <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <circle fill="none" cx="12" cy="7" r="3" />
                            <path d="M12 2C9.243 2 7 4.243 7 7s2.243 5 5 5 5-2.243 5-5S14.757 2 12 2zM12 10c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3S13.654 10 12 10zM21 21v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h2v-1c0-2.757 2.243-5 5-5h4c2.757 0 5 2.243 5 5v1H21z" />
                        </svg>
                    </a>
    
                    <a class="pl-3 inline-block no-underline hover:text-black" [routerLink]="">
                        <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M21,7H7.462L5.91,3.586C5.748,3.229,5.392,3,5,3H2v2h2.356L9.09,15.414C9.252,15.771,9.608,16,10,16h8 c0.4,0,0.762-0.238,0.919-0.606l3-7c0.133-0.309,0.101-0.663-0.084-0.944C21.649,7.169,21.336,7,21,7z M17.341,14h-6.697L8.371,9 h11.112L17.341,14z" />
                            <circle cx="10.5" cy="18.5" r="1.5" />
                            <circle cx="17.5" cy="18.5" r="1.5" />
                        </svg>
                    </a> -->
                    
                <!-- </div> -->
                
                <div class="object-right-top" id="nav-content" >
                    <form (ngSubmit)="onLogOut()">
                    <button *ngIf="isLogout()" type="button" routerLink="{{loginUrl}}" routerLinkActive="active" class="text-gray-900 bg-white border-white-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-white-600 dark:hover:bg-white-700 dark:hover:border-white-600 dark:focus:ring-white-700" >Prisijungti</button>
                    <button *ngIf="isLogout()" type="button" routerLink="{{registerUrl}}" routerLinkActive="active" class="text-white bg-black hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Registruotis</button>
                    <button *ngIf="isLogin()" type="submit" class="text-white bg-black hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Atsijungti</button>
                </form>
                </div>
            </div>
        </nav>
        <!--Nav-->
<!-- <nav id="header" class="fixed w-full z-30 top-0 text-white">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
      <div class="pl-4 flex items-center">
        <a class="toggleColour text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
          <svg class="h-8 fill-current inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.005 512.005">
            <rect fill="#2a2a31" x="16.539" y="425.626" width="479.767" height="50.502" transform="matrix(1,0,0,1,0,0)" />
            <path
              class="plane-take-off"
              d=" M 510.7 189.151 C 505.271 168.95 484.565 156.956 464.365 162.385 L 330.156 198.367 L 155.924 35.878 L 107.19 49.008 L 211.729 230.183 L 86.232 263.767 L 36.614 224.754 L 0 234.603 L 45.957 314.27 L 65.274 347.727 L 105.802 336.869 L 240.011 300.886 L 349.726 271.469 L 483.935 235.486 C 504.134 230.057 516.129 209.352 510.7 189.151 Z "
            />
          </svg>
          LANDING
        </a>
      </div>
      <div class="block lg:hidden pr-4">
        <button id="nav-toggle" class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
          <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
          <li class="mr-3">
            <a class="inline-block py-2 px-4 text-black font-bold no-underline" href="#">Active</a>
          </li>
          <li class="mr-3">
            <a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4" href="#">link</a>
          </li>
          <li class="mr-3">
            <a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4" href="#">link</a>
          </li>
        </ul>
        <button
          id="navAction"
          class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
          Action
        </button>
      </div>
    </div>
    <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
  </nav> -->

  <script>
    var scrollpos = window.scrollY;
    var header = document.getElementById("header");
    var navcontent = document.getElementById("nav-content");
    var navaction = document.getElementById("navAction");
    var brandname = document.getElementById("brandname");
    var toToggle = document.querySelectorAll(".toggleColour");

    document.addEventListener("scroll", function () {
      /*Apply classes for slide in bar*/
      scrollpos = window.scrollY;

      if (scrollpos > 10) {
        header.classList.add("bg-white");
        navaction.classList.remove("bg-white");
        navaction.classList.add("gradient");
        navaction.classList.remove("text-gray-800");
        navaction.classList.add("text-white");
        //Use to switch toggleColour colours
        for (var i = 0; i < toToggle.length; i++) {
          toToggle[i].classList.add("text-gray-800");
          toToggle[i].classList.remove("text-white");
        }
        header.classList.add("shadow");
        navcontent.classList.remove("bg-gray-100");
        navcontent.classList.add("bg-white");
      } else {
        header.classList.remove("bg-white");
        navaction.classList.remove("gradient");
        navaction.classList.add("bg-white");
        navaction.classList.remove("text-white");
        navaction.classList.add("text-gray-800");
        //Use to switch toggleColour colours
        for (var i = 0; i < toToggle.length; i++) {
          toToggle[i].classList.add("text-white");
          toToggle[i].classList.remove("text-gray-800");
        }

        header.classList.remove("shadow");
        navcontent.classList.remove("bg-white");
        navcontent.classList.add("bg-gray-100");
      }
    });
  </script>
  <script>
    /*Toggle dropdown list*/
    /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

    var navMenuDiv = document.getElementById("nav-content");
    var navMenu = document.getElementById("nav-toggle");

    document.onclick = check;
    function check(e) {
      var target = (e && e.target) || (event && event.srcElement);

      //Nav Menu
      if (!checkParent(target, navMenuDiv)) {
        // click NOT on the menu
        if (checkParent(target, navMenu)) {
          // click on the link
          if (navMenuDiv.classList.contains("hidden")) {
            navMenuDiv.classList.remove("hidden");
          } else {
            navMenuDiv.classList.add("hidden");
          }
        } else {
          // click both outside link and outside menu, hide menu
          navMenuDiv.classList.add("hidden");
        }
      }
    }
    function checkParent(t, elm) {
      while (t.parentNode) {
        if (t == elm) {
          return true;
        }
        t = t.parentNode;
      }
      return false;
    }
  </script>
</body>