<div class="mt-20">
    <section class="w-full max-w-4xl px-6 py-4 mx-auto bg-white rounded-md dark:bg-transparent xl:rounded-global">
      <h2 class="text-3xl font-bold text-center">Įmonės duomenys</h2>
      <!-- <p class="mt-3 text-center text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p> -->
      <div class="grid grid-cols-1 gap-6 mt-6 sm:grid-cols-2 md:grid-cols-3">
          <a  class="flex flex-col items-center px-4 py-3 text-gray-700 transition-colors duration-200 transform rounded-md dark:text-gray-200 hover:bg-blue-200 dark:hover:bg-blue-500">
              <span>
                <svg class="h-8 w-8" width="24" height="24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M0 0h24v24H0z" stroke="none"/>
                    <circle cx="12" cy="12" r="9"/>
                    <path d="M3.6 9h16.8M3.6 15h16.8M11.5 3a17 17 0 0 0 0 18M12.5 3a17 17 0 0 1 0 18"/>
                    </svg>
            </span>
            <span class="mt-2 text-center"><p class="font-semibold">Įmonės pavadinimas: </p><p class="">{{serviceDetails.domainUser.companyName}}</p></span>
        </a>
        <a  class="flex flex-col items-center px-4 py-3 text-gray-700 transition-colors duration-200 transform rounded-md dark:text-gray-200 hover:bg-blue-200 dark:hover:bg-blue-500">
            <span>
                <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v1m6 11h2m-6 0h-2v4m0-11v3m0 0h.01M12 12h4.01M16 20h4M4 12h4m12 0h.01M5 8h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1zm12 0h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1zM5 20h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1z"/>
                    </svg>
            </span>
            <span class="mt-2 text-center"><p class="font-semibold">Įmonės kodas: </p> <p class="">{{serviceDetails.domainUser.companyCode}}</p></span>
        </a>
        <a *ngIf="serviceDetails.isAccountActivated" class="flex flex-col items-center px-4 py-3 text-gray-700 transition-colors duration-200 transform rounded-md dark:text-gray-200 hover:bg-blue-200 dark:hover:bg-blue-500">
            <span>
                <svg class="h-8 w-8 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.83 4.7a3.42 3.42 0 0 0 1.95-.8 3.42 3.42 0 0 1 4.44 0 3.42 3.42 0 0 0 1.95.8 3.42 3.42 0 0 1 3.13 3.13 3.42 3.42 0 0 0 .8 1.95 3.42 3.42 0 0 1 0 4.44 3.42 3.42 0 0 0-.8 1.95 3.42 3.42 0 0 1-3.13 3.13 3.42 3.42 0 0 0-1.95.8 3.42 3.42 0 0 1-4.44 0 3.42 3.42 0 0 0-1.94-.8 3.42 3.42 0 0 1-3.14-3.13 3.42 3.42 0 0 0-.8-1.95 3.42 3.42 0 0 1 0-4.44 3.42 3.42 0 0 0 .8-1.94A3.42 3.42 0 0 1 7.84 4.7z"/>
                    </svg>
            </span>
            <span class="mt-2 font-semibold"><p class="">Patvirtintas</p></span>
        </a>
        <a *ngIf="!serviceDetails.isAccountActivated" class="flex flex-col items-center px-4 py-3 text-gray-700 transition-colors duration-200 transform rounded-md dark:text-gray-200 hover:bg-blue-200 dark:hover:bg-blue-500">
            <span>
                <svg class="h-8 w-8 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2zm10-10V7a4 4 0 0 0-8 0v4h8z"/>
                </svg>
            </span>
            <span class="mt-2 font-semibold"><p class="">Nepatvirtintas</p></span>
        </a>
    </div>
    <div class="container mx-auto">
        <div class="items-center -mx-2 md:flex"  *ngIf="!isEmpty()">
            <div class="w-full justify-center mx-2 mt-4 ">
                <label class="block text-lg font-medium text-gray-600 dark:text-gray-200">
                    <p class="">Įkelti įmonės dokumentai:</p>
                  </label>
            </div>
        </div>
        <div *ngFor="let doc of documentsInformation; let i=index">
            <span class="inline-flex ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 cursor-pointer transition duration-200 py-2 bg-primary" (click)="downloadDocument(i)">
                <svg class="h-5 w-5 text-black" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"/>
                </svg>
                <a > {{doc.name}} </a>
            </span>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="items-center -mx-2 md:flex">
            <div class="w-full justify-center mx-2 mt-4 ">
                <label class="block text-lg font-medium text-gray-600 dark:text-gray-200">
                    <p class="">Įmonės teikiamos paslaugos:</p>
                  </label>
            </div>
        </div>
        <div class=" grid grid-cols-2 gap-5 mt-6 sm:grid-cols-3 md:grid-cols-4" >
            <a class="flex flex-col items-center text-sm border-2 border-gray-300 rounded-sm p-2 bg-gray-100" *ngFor="let service of repairServices">
                <span class="mt-2 font-semibold" >{{service.repairServiceCategory.categoryName}}:</span>
                <span class="mt-2" >{{service.serviceName}}</span>
            </a>      
        </div>
    </div>
    
   
      <div class="mt-6 ">
        <form [formGroup]="serviceProfileForm" (ngSubmit)="updateProfile()">
        <div class="items-center -mx-2 md:flex">
          <div class="w-full mx-2">
            <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200">
              <p class="">Kontaktinio asmens vardas</p>
            </label>
            <input formControlName="name"
            class="block px-4 py-2 text-gray-700 bg-white border rounded-global w-full focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300" 
            [ngClass]="{
                'border-rose-600': serviceProfileForm.controls['name'].invalid && serviceProfileForm.controls['name'].dirty,
                'border-green-600': serviceProfileForm.controls['name'].valid && serviceProfileForm.controls['name'].dirty
            }" />
            </div>
            <div class="w-full mx-2">
                <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200">
                  <p class="">Kontaktinio asmens pavardė</p>
                </label>
                <input formControlName="surname"
                class="block px-4 py-2 text-gray-700 bg-white border rounded-global w-full focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300" 
                [ngClass]="{
                    'border-rose-600': serviceProfileForm.controls['surname'].invalid && serviceProfileForm.controls['surname'].dirty,
                    'border-green-600': serviceProfileForm.controls['surname'].valid && serviceProfileForm.controls['surname'].dirty
                }"/>
            </div>
        </div>
        <div class="items-center -mx-2 md:flex">
            <div class="w-full mx-2 mt-4 box-border md:mt-0">
                <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200">
                <p class="">Elektroninis paštas</p>
              </label>
              <input formControlName="email"
              class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-global focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300" 
              [ngClass]="{
                'border-rose-600': serviceProfileForm.controls['email'].invalid && serviceProfileForm.controls['email'].dirty,
                'border-green-600': serviceProfileForm.controls['email'].valid && serviceProfileForm.controls['email'].dirty
            }"/>
          </div>
          <div class="w-full mx-2 mt-4 box-border md:mt-0">
              <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200">
              <p class="">Telefono numeris</p>
            </label>
            <input formControlName="phone"
            class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-global focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300"
            [ngClass]="{
                'border-rose-600': serviceProfileForm.controls['phone'].invalid && serviceProfileForm.controls['phone'].dirty,
                'border-green-600': serviceProfileForm.controls['phone'].valid && serviceProfileForm.controls['phone'].dirty
            }"/>
        </div>
        </div>
        <div class="items-center -mx-2 md:flex">
            <div class="w-full mx-2 mt-4 box-border md:mt-0">
                <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200">
                <p class="">Miestas</p>
              </label>
              <app-dropdown (OnChange)="changeCity($event)" [value]="serviceProfileForm.controls['city'].value"></app-dropdown>
          </div>
          <div class="w-full mx-2 mt-4 box-border md:mt-0">
              <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200">
              <p class="">Adresas</p>
            </label>
            <input formControlName="address"
            class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-global focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300" 
            [ngClass]="{
                'border-rose-600': serviceProfileForm.controls['address'].invalid && serviceProfileForm.controls['address'].dirty,
                'border-green-600': serviceProfileForm.controls['address'].valid && serviceProfileForm.controls['address'].dirty
            }"/>
        </div>
        </div>
        <div class="items-center -mx-2 md:flex">
            <div class="w-full justify-center mx-2 mt-4 ">
                <label class="block mb-2 text-lg font-medium text-gray-600 dark:text-gray-200">
                    <p class="">Keisti slaptažodį</p>
                  </label>
            </div>
        </div>
        
        <div class="items-center -mx-2 md:flex">
            <div class="w-full mx-2 mt-4 box-border md:mt-0">
                <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200">
                <p class="">Senas slaptažodis</p>
              </label>
              <input 
              type="password"
              formControlName="currentPassword"
              class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-global focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300"
              [ngClass]="{
                'border-rose-600': serviceProfileForm.controls['currentPassword'].invalid && serviceProfileForm.controls['currentPassword'].dirty,
                'border-green-600': serviceProfileForm.controls['currentPassword'].valid && serviceProfileForm.controls['currentPassword'].dirty
            }" />
          </div>
          <div class="w-full mx-2 mt-4 box-border md:mt-0">
              <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200">
              <p class="">Naujas slaptažodis</p>
            </label>
            <input 
            type="password"
            formControlName="newPassword"
            class="block w-full px-4 py-2 text-gray-700 bg-white border rounded-global focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:focus:border-blue-300" 
            [ngClass]="{
                'border-rose-600': serviceProfileForm.controls['newPassword'].invalid && serviceProfileForm.controls['newPassword'].dirty,
                'border-green-600': serviceProfileForm.controls['newPassword'].valid && serviceProfileForm.controls['newPassword'].dirty
            }"/>
        </div>
        </div>
        
        <div class="flex justify-center mt-6">
            <button type="submit"
            class="ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 px-4 py-2 bg-black text-white transition duration-200 transform rounded-global rounded
            shadow-md focus:outline-none focus:bg-gray-600 bg-primary">
            <p class="">Atnaujinti duomenis</p>
          </button></div>
          </form>
            <div class="items-center -mx-2 md:flex ">
                <form class="w-full mx-2 mt-4 box-border md:mt-0" [formGroup]="imageUploadForm" (ngSubmit)="onProfileImageUpload()" >
                <div class="items-center -mx-2 md:flex">
                    <div class="w-full justify-center mx-2 mt-4 ">
                        <label class="block mb-2 text-lg font-medium text-gray-600 dark:text-gray-200">
                            <p class="">Profilio nuotrauka</p>
                          </label>
                    </div>
                </div>
                <div class="form-group">
                      <input formControlName="image"
                      class="form-control
                      block w-full text-sm text-slate-500
                    file:mr-4 file:py-2 file:px-4
                    file:rounded-full file:border-0
                    file:text-sm file:font-semibold
                    file:bg-gray-500 file:text-white
                    hover:file:bg-gray-700" type="file" id="image" (change)="onImageChange($event)"/>
                      <div class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                        <div *ngIf="showImageValidation &&  imageUploadForm.controls['image'].errors">Pasirinkite nuotrauką</div>
                      </div>
                      
                  <div class="flex justify-start mt-6">
                    <button type="submit" class="ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 px-4 py-2
                    bg-black
                    text-white
                    rounded
                    shadow-md
                    bg-primary
                    hover:bg-blue-700 hover:shadow-lg
                    focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
                    active:bg-blue-800 active:shadow-lg
                    transition
                    duration-150" >Įkelti profilio nuotrauką</button>
                </div>
            </div>
        </form>
        <form class="w-full mx-2 mt-4 box-border md:mt-0" [formGroup]="documentUploadForm" (ngSubmit)="onDocsUpload()" >
            <div class="items-center -mx-2 md:flex">
                <div class="w-full justify-center mx-2 mt-4 ">
                    <label class="block mb-2 text-lg font-medium text-gray-600 dark:text-gray-200">
                        <p class="">Vykdomos veiklos išrašas iš registrų centro</p>
                      </label>
                </div>
            </div>
            <div class="form-group">
                  <input formControlName="file"
                  class="form-control
                  block w-full text-sm text-slate-500
                file:mr-4 file:py-2 file:px-4
                file:rounded-full file:border-0
                file:text-sm file:font-semibold
                file:bg-gray-500 file:text-white
                hover:file:bg-gray-700" type="file" id="file" (change)="onFileChange($event)"/>
                  <div class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                    <div *ngIf="showValidation &&  documentUploadForm.controls['file'].errors">Pasirinkite failą</div>
                  </div>
                  
              <div class="flex justify-start mt-6">
                <button type="submit" class="ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 px-4 py-2
                bg-black
                text-white
                rounded
                shadow-md
                bg-primary
                hover:bg-blue-700 hover:shadow-lg
                focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
                active:bg-blue-800 active:shadow-lg
                transition
                duration-150" >Pateikti dokumentus peržiūrai</button>
            </div>
        </div>
    </form>
    </div>
      </div>
      <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
     <app-toast-alert *ngIf="successMessage" [message]="successMessage" [color]='"bg-green-500"'></app-toast-alert>
    </section>
  </div>