/* You can add global styles to this file, and also import other style files */
/* body { */
     
/* } */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.table {
    color: white;
}
h3 {
    color: white;
}
label {
    color: white;
}
main {
    text-align: center;
    position: relative;
}
/* .row { */
/*     margin: 0 auto; */
/* } */