@model IEnumerable<NT_Csharp.Models.Klientas>

@{
    ViewBag.Title = "Klientai";
}

<h2>Klientai</h2>

<p>
    @Html.ActionLink("Naujas klientas", "Create", new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.asmensKodas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vardas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pavarde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gimimoData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.elpastas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.asmensKodas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vardas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pavarde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gimimoData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.elpastas)
        </td>
        <td>
            @Html.ActionLink("Redaguoti", "Edit", new {  id=item.asmensKodas  }, new { @class= "btn btn-primary action" }) |
            @Html.ActionLink("Pašalinti", "Delete", new {  id=item.asmensKodas  }, new { @class= "btn btn-danger action" })
        </td>
    </tr>
}

</table>
