@model NT_Csharp.ViewModels.NTEditViewModel

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.fk_vieta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @* @Html.EditorFor(model => model.fk_vieta, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.fk_vieta, Model.VietaList, "--------------", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fk_vieta, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.pastatymoMetai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pastatymoMetai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pastatymoMetai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kambariuSkaicius, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kambariuSkaicius, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kambariuSkaicius, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bendrasPlotas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bendrasPlotas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bendrasPlotas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aukstuSkaicius, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aukstuSkaicius, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.aukstuSkaicius, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.baldai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.baldai)
                    @Html.ValidationMessageFor(model => model.baldai, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.signalizacija, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.signalizacija)
                    @Html.ValidationMessageFor(model => model.signalizacija, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.garazas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.garazas)
                    @Html.ValidationMessageFor(model => model.garazas, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.busena, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.busena, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.busena, Model.IrengimoBusenosList, "--------------", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.busena, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.tipas, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.tipas, Model.TipasList, "--------------", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tipas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fk_butas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.fk_butas, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.fk_butas, Model.ButasList, "--------------", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fk_butas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fk_namas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.fk_namas, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.fk_namas, Model.NamasList, "--------------", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fk_namas, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sukurti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Grįžti į sąrašą", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
