@model NT_Csharp.ViewModels.NTEditViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Šalinimas</h2>

<h3>Ar tikrai norite pašalinti šį objektą</h3>
<div>
<h4>Objektas</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.pastatymoMetai)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.pastatymoMetai)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.kambariuSkaicius)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.kambariuSkaicius)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.bendrasPlotas)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.bendrasPlotas)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.aukstuSkaicius)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.aukstuSkaicius)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.baldai)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.baldai)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.signalizacija)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.signalizacija)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.garazas)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.garazas)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.busena)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.busena)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.tipas)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.tipas)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.fk_butas)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.fk_butas)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.fk_vieta)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.fk_vieta)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.fk_namas)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.fk_namas)
    </dd>

</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @if (ViewBag.naudojama != null)
        {
            <h5 style="color:red">@ViewBag.naudojama</h5>
        }
        else
        {
            <input type="submit" value="Šalinti" class="btn btn-danger" />
        }|
        @Html.ActionLink("Grįžti atgal", "Index", new { @class = "btn btn-default" })
    </div>
}
</div>
