@model IEnumerable<NT_Csharp.Models.NTobjektas>

@{
    ViewBag.Title = "Index";
}

<h2>NT objektų sąrašas</h2>

<p>
    @Html.ActionLink("Naujas objektas", "Create", new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pastatymoMetai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kambariuSkaicius)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bendrasPlotas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.irengimoBusena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipas)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pastatymoMetai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kambariuSkaicius)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bendrasPlotas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.irengimoBusena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipas)
        </td>
        <td>
            @Html.ActionLink("Redaguoti", "Edit", new { id = item.id }, new { @class = "btn btn-primary action" }) |
            @Html.ActionLink("Pašalinti", "Delete", new { id = item.id }, new { @class = "btn btn-danger action" })
        </td>
    </tr>
    }

</table>
