<body class="bottom-0">

<!-- <footer class="bg-gray-200 text-center lg:text-left">
    
    <div class="text-gray-700 text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-gray-800"></a>
    </div>
</footer> -->
<!--Footer-->
<footer class="bg-white h-4/s5">
  <div class="container mx-auto mt-8 px-8">
    <div class="w-full flex flex-col md:flex-row py-6">
      <div class="flex-1 mb-6">
        <a id="title"
          class="no-underline hover:no-underline font-bold text-3xl lg:text-5xl"
          href="#"
        >
          repi
        </a>
      </div>

      <div class="flex-1">
        <p class="uppercase font-extrabold text-gray-500 md:mb-6">Links</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
              >FAQ</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
              >Help</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
              >Support</a
            >
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase font-extrabold text-gray-500 md:mb-6">Legal</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
              >Terms</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
              >Privacy</a
            >
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase font-extrabold text-gray-500 md:mb-6">Social</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
              >Facebook</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
              >Linkedin</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
              >Twitter</a
            >
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase font-extrabold text-gray-500 md:mb-6">
          Company
        </p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
              >Official Blog</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
              >About Us</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="font-light no-underline hover:underline text-gray-800 hover:text-orange-500"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>