@model IEnumerable<NT_Csharp.Models.Butas>

@{
    ViewBag.Title = "Index";
}

<h2>Butai</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.laiptine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.butoNR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.butoAukstas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vietaPark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zaidimuAikst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rusys)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.laiptine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.butoNR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.butoAukstas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vietaPark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zaidimuAikst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rusys)
        </td>
    </tr>
}

</table>
