@model NT_Csharp.ViewModels.AgentasEditViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Ištrinti</h2>

<h3>Ar tikrai norite ištrinti šį įrašą?</h3>
<div>
    <h4>Agentas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vardas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vardas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pavarde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pavarde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pardavimai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pardavimai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fk_agentura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fk_agentura)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (ViewBag.naudojama != null)
            {
                <h5 style="color:red">@ViewBag.naudojama</h5>
            }
            else
            {
                <input type="submit" value="Šalinti" class="btn btn-danger" />
            }
            @Html.ActionLink("Grįžti atgal", "Index")
        </div>
    }
</div>
