@model IEnumerable<NT_Csharp.Models.Agentas>

@{
    ViewBag.Title = "Index";
}

<h2>Agentai</h2>

<p>
    @Html.ActionLink("Naujas agentas", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vardas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pavarde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pardavimai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agentura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vardas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pavarde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pardavimai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agentura)
        </td>
        <td>
            @Html.ActionLink("Redaguoti", "Edit", new { id = item.id }, new { @class = "btn btn-primary action" }) |
            @Html.ActionLink("Pašalinti", "Delete", new { id = item.id }, new { @class = "btn btn-danger action" })
        </td>
    </tr>
}

</table>
