@model IEnumerable<NT_Csharp.Models.Vieta>

@{
    ViewBag.Title = "Index";
}

<h2>Vietos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.miestas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gatve)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.namoNR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rajonas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.atstumasIkiCentro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.atstumasIkiParko)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.miestas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gatve)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.namoNR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rajonas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atstumasIkiCentro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atstumasIkiParko)
        </td>
    </tr>
}

</table>
