<body class="bg-white font-family-karla h-screen">

    <div class="w-full flex flex-wrap">

        <!-- Register Section -->
        <div class="w-full md:w-1/2 flex flex-col">

            <!-- <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-12">
                <a href="#" class="bg-black text-white font-bold text-xl p-4" alt="Logo">Logo</a>
            </div> -->

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl">Registracija.</p>
                <form class="flex flex-col pt-3 md:pt-8" [formGroup]="clientRegisterForm" (ngSubmit)="register()">
                    <div class="flex flex-col pt-4">
                        <label for="name" class="text-lg">Vardas</label>
                        <input type="text" id="name" formControlName="name" 
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                        [ngClass]="{
                            'border-rose-600': submitted && clientRegisterForm.controls['name'].invalid,
                            'border-green-600': clientRegisterForm.controls['name'].valid && clientRegisterForm.controls['name'].dirty
                        }" />
                        <div *ngIf="submitted && clientRegisterForm.controls['name'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="clientRegisterForm.controls['name'].errors['required']">Vardas yra privalomas</div>
                        </div>
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="surname" class="text-lg">Pavardė</label>
                        <input type="text" id="surname" formControlName="surname" 
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                        [ngClass]="{
                            'border-rose-600': submitted && clientRegisterForm.controls['surname'].invalid,
                            'border-green-600': clientRegisterForm.controls['surname'].valid && clientRegisterForm.controls['surname'].dirty
                        }" />
                        <div *ngIf="submitted && clientRegisterForm.controls['surname'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="clientRegisterForm.controls['surname'].errors['required']">Pavardė yra privaloma</div>
                        </div>
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="email" class="text-lg">Elektroninis paštas</label>
                        <input type="email" id="email" formControlName="email" 
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                        [ngClass]="{ 
                            'border-rose-600': submitted && clientRegisterForm.controls['email'].invalid,
                            'border-green-600': clientRegisterForm.controls['email'].valid && clientRegisterForm.controls['email'].dirty
                        }"/>
                        <div *ngIf="submitted && clientRegisterForm.controls['email'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="clientRegisterForm.controls['email'].errors['required']">Elektroninis paštas yra privalomas</div>
                        </div>
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="phone" class="text-lg">Telefono numeris</label>
                        <input type="phone" id="phone" formControlName="phone" placeholder="+370" 
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                        [ngClass]="{
                            'border-rose-600': submitted && clientRegisterForm.controls['phone'].invalid,
                            'border-green-600': clientRegisterForm.controls['phone'].valid && clientRegisterForm.controls['phone'].dirty
                        }" />
                        <div *ngIf="submitted && clientRegisterForm.controls['phone'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="clientRegisterForm.controls['phone'].errors['required']">Telefono numeris yra privalomas</div>
                        </div>
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="password" class="text-lg">Slaptažodis</label>
                        <input type="password" id="password" formControlName="password" 
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                        [ngClass]="{ 
                            'border-rose-600': submitted && clientRegisterForm.controls['password'].invalid,
                            'border-green-600': clientRegisterForm.controls['password'].valid && clientRegisterForm.controls['password'].dirty
                        }"/>
                        <div *ngIf="submitted && clientRegisterForm.controls['password'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="clientRegisterForm.controls['password'].errors['required']">Slaptaždis yra privalomas</div>
                            <div *ngIf="clientRegisterForm.controls['password'].errors['minlength']">Slaptažodis turi būti ilgesni nei 6 simboliai</div>
                            <div *ngIf="clientRegisterForm.controls['password'].errors['maxlength']">Slaptažodis yra per ilgas</div>
                            <div *ngIf="clientRegisterForm.controls['password'].errors['pattern']">Slaptažodį turi sudaryti 1 didžioji raidė, 1 skaičius bei vienas specialus simbolis</div>
                        </div>
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="confirm-password" class="text-lg">Patvirtinti slaptažodį</label>
                        <input type="password" id="confirm-password" formControlName="confirmPassword" 
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" 
                        [ngClass]="{ 
                            'border-rose-600': submitted && clientRegisterForm.controls['confirmPassword'].invalid,
                            'border-green-600': clientRegisterForm.controls['confirmPassword'].valid && clientRegisterForm.controls['confirmPassword'].dirty
                        }"/>
                        <div *ngIf="submitted && clientRegisterForm.controls['confirmPassword'].errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            <div *ngIf="clientRegisterForm.controls['confirmPassword'].errors['required']">Pakartokite slaptažodį</div>
                            <div *ngIf="clientRegisterForm.controls['confirmPassword'].errors['mustMatch']">Slaptažodžiai nesutampa</div>
                        </div>
                    </div>
                    <app-toast-alert *ngIf="errorMessage" [message]="errorMessage"></app-toast-alert>
                    <input type="submit" value="Registruotis" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 cursor-pointer rounded-t" />
                </form>
                <!-- <div class="text-center pt-12 pb-12">
                    <p>Already have an account? <a href="login.html" class="underline font-semibold">Log in here.</a></p>
                </div> -->
            </div>

        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl rounded">
            <img class="object-cover w-full h-screen hidden md:block" src="../../assets/register.JPG" alt="Background" />
        </div>
    </div>

</body>
